In [16]:
import pandas as pd
import re
url = "/content/train.csv"
input=pd.read_csv(url)
#print(input.isnull().sum())
input.dropna(subset=['New_Price'], inplace=True)
input.dropna(subset=['Mileage'], inplace=True)
print(input.isnull().sum())
data.head()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995 CC,190 bhp,5.0,47.87 Lakh,18.55