In [40]:
import pandas as pd
import re
url = "/content/train.csv"
input=pd.read_csv(url)
for column in input.columns:
    if pd.api.types.is_numeric_dtype(input[column]):
        input[column].fillna(input[column].median(), inplace=True)
    else:
        input[column].fillna(input[column].mode()[0], inplace=True)


print(input.isnull().sum())

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64